<!DOCTYPE html>

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="../static/style.css">

    <title>Churros or Samosa?</title>
</head>

<main>

        <div class="heading display-flex">
            <h1 style = "margin-right: 170px; display: inline-block;">Cuisiner</h1>
            <div class = "box" style = "display: inline-block">
                <label class = "intro" for="cuisine">Choose a cuisine:</label>
                <select class = "label" name="cuisine" id="cuisine">
                    <option class = "label" value="Italian">Italian</option>
                    <option class = "label" value="Japanese">Japanese</option>
                    <option class = "label" value="French">French</option>
                    <option class = "label" value="South Asian">South Asian</option>
                    <option class = "label" value="Chilean">Chilean</option>
                </select>
            </div>
            <p class="intro" style = "display: inline-block">Upload a photo with food and watch the magic happen!</p>

        <h3>Photo</h3>
        </div>
        
        <div class="row">
            <img id="uploadedImg">
        </div>

        <div class="row">
            <form enctype="multipart/form-data" method="POST" name="fileinfo">
                <p>
                <input type="file" name="file" multiple = "false" id="input" required class= "inputfile"/>
                <label for="input">Upload Photo file</label>    
                <input type="submit" value="Run Model" class="buttons" />
                </p>
            </form>
    
        </div>

    <script src="../static/main.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</main>
<aside>
    <h1 id = "hello">Results!</h1>
    <div id="loader" class="lds-dual-ring"></div>
    </div>
    <div id="results" class="grid-container">
    </div>
  </aside>

</html>
